<!DOCTYPE html>
<html>
<head>
    <title>Registro de Consumo</title>
</head>
<body>
    <h1>Registro de Consumo</h1>
    <h2>Olá, {{ user_profile.user.username }}!</h2>
    <p>Meta Diária: {{ daily_goal }} ml</p>
    <p>Meta restante: {{ remaining_ml }} ml</p>
    <p>Quantidade total de água consumida: {{ total_ml }} ml</p>
    <h2>Consumir água</h2>
    <form method="post">
        {% csrf_token %}
        <label for="selected_date">Data:</label>
        <input type="date" id="selected_date" name="selected_date" value="{{ selected_date|date:'Y-m-d' }}">
        <br><br>
        <label>Quantidade:</label>
        <br>
        <input type="radio" id="amount_250" name="amount_ml" value="250">
        <label for="amount_250">250 ml</label><br>
        <input type="radio" id="amount_350" name="amount_ml" value="350">
        <label for="amount_350">350 ml</label><br>
        <input type="radio" id="amount_500" name="amount_ml" value="500">
        <label for="amount_500">500 ml</label><br>
        <br>
        <input type="submit" value="Add">
    </form>
    {% if messages %}
    <div class="messages">
    {% for message in messages %}
    <div class="message">{{ message }}</div>
    {% endfor %}
    </div>
    {% endif %} 
    
    <h2>Atingiu a meta?</h2>
    {% if remaining_ml <= 0 %}
    <p>Parabéns! Você atingiu a meta!.</p>
    {% else %}
    <p>Continue assim! Faltam {{ remaining_ml }} ml para atingir a meta diária.</p>
    {% endif %}
    
    <h2>Registro Diário</h2>
    <ul>
        {% for tracker in trackers %}
        <li>{{ tracker.amount_ml }} ml</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'user_history' user_id=user_profile.user.id %}">Ver histórico</a>

</body>
</html>
